html {
    scroll-behavior: smooth;
}

.main {
    margin-top: 0px;
}
#header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: rgba(255, 255, 255, 0.30);
    padding: 0px;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
a {
    color: black;
    position: relative;
    text-decoration: none;
    padding: 10px;
}

/* sticky to make something fixed or scrollable */

.icon {
    height: 13%;
    width: 13%;
    border-radius: 50%;
}

#composite {
    height: 150px;
    border-radius: 50%;
}
#home {
    padding: 300px; /* got rid of height and added padding for vertical alignment of text*/
    text-align: center;
    vertical-align: middle;
    background-image: linear-gradient(to bottom right, lightblue, rgb(252, 200, 104));
}
#about {
    height: 600px;
    background-color: blue;
}
#experience {
    height: 600px;
    background-color: red;
}
#projects {
    height: 600px;
    background-color: green;
}
#education {
    height: 600px;
    background-color: pink;
}