html {
    scroll-behavior: smooth;
}
header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: transparent;
    padding: 10px;
}
#home {
    height: 600px;
    background-image: -moz-radial-gradient();
}
#about {
    height: 600px;
    background-color: blue;
}
#experience {
    height: 600px;
    background-color: red;
}
#projects {
    height: 600px;
    background-color: green;
}
#education {
    height: 600px;
    background-color: pink;
}